body{
    font-family: Arial;
    background:#f4f4f4;
}

.container{
    width:350px;
    margin:50px auto;
    background:white;
    padding:20px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

input{
    width:70%;
    padding:8px;
}

button{
    padding:8px 12px;
    background:green;
    color:white;
    border:none;
    cursor:pointer;
}

li{
    list-style:none;
    background:#eee;
    margin:10px 0;
    padding:10px;
}

.completed{
    text-decoration:line-through;
    color:gray;
}
